body{
    background: rgb(255, 253, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
  padding: 30px;
}
.show{
    position: relative;
    background-color: lightgreen;
    border-style: none;
    margin-left: 20%;
    width: 20%;
    height: 15%;
    transition: 0.5s;
}
.show:hover{
    background-color: rgb(76, 231, 76);
}
#myTable{
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    width:1000px;
    height:500px;
}
.footer {
    background: gray;
    color: lightgreen;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    text-decoration: none;
  }
  .footer:hover{
    background: rgb(73, 73, 73);
  }
  a:visited{
    color: white;
  }
  a{
      text-decoration: none;
  }
  #myTable{
      text-align: left;
  }
  .insertNew{
    position: relative;
    background-color: lightgreen;
    border-style: none;
    margin-left: 20%;
    width: 20%;
    height: 15%;
    transition: 0.5s;  
  }
  .insertNew:hover{
    background-color: rgb(76, 231, 76);
}
.insert_info{
    margin-left: 25%;
    margin-top: 1%;
}
input {
  margin: 0;
  border: none;
  background-color: rgb(240, 238, 238);
  border-radius: 0;
 margin-left: 5%;
  width: 200px;
}
.add{
  background:  rgb(76, 231, 76);
  color:rgb(37, 37, 37);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 0;
 height: 20px;
 width: 60px;
}
.add:hover{
  background-color:lightgreen
}
.display-none {
  display: none;
}