body{
    background: lightgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.show{
    position: relative;
    background-color: lightgreen;
    border-style: none;
    margin-left: 20%;
    width: 20%;
    height: 15%;
    transition: 0.5s;
}
.show:hover{
    background-color: rgb(76, 231, 76);
}
#myTable{
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    width:1000px;
    height:500px;
}
.footer {
    background: gray;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    text-decoration: none;
  }
  .footer:hover{
    background: rgb(73, 73, 73);
  }
  a:visited{
    color: rgb(250, 249, 249);
  }
  a{
      text-decoration: none;
  }
  #myTable{
      text-align: left;
  }
  .insertNew{
    position: relative;
    background-color: lightgreen;
    border-style: none;
    margin-left: 20%;
    width: 20%;
    height: 15%;
    transition: 0.5s;  
  }
  .insertNew:hover{
    background-color: rgb(76, 231, 76);
}
.insert_info{
    margin-left: 10%;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
 margin-left: 5%;
  width: 200px;
}
.add1{
  background:  rgb(76, 231, 76);
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 0;
 height: 20px;
 width: 60px;
}
.add1:hover{
  background-color:lightgreen
}
.add2{
  background: rgb(76, 231, 76);
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 0;
  height: 20px;
  width: 60px;
}
.add2:hover{
  background-color:lightgreen
}
.add3{
  background:  rgb(76, 231, 76);
  color: rgb(85, 85, 85);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 0;
  height: 20px;
  width: 60px;
}
.add3:hover{
  background-color:lightgreen
}